@inherits WidgetComponentBase

<form>
    <div class="form-group">
        <label for="@Component.Id"
               class="col-form-label">
            @Component.Label
        </label>
        <div class="justify-content-start">
            <input id="@Component.Id"
                   type="checkbox"
                   class="form-control" />
        </div>
    </div>
</form>


@code {

}
