@inherits WidgetComponentBase

<form>
    <div class="form-group">
        <label for="@Component.Id"
               class="col-form-label">
            @Component.Label
        </label>
        <input id="@Component.Id"
               type="datetime"
               class="form-control"
               placeholder="dd-mm-yyyy"/>
    </div>
</form>


@code {

}
