@inherits WidgetComponentBase

<form>
    <div class="form-group">
        <label for="@Component.Id"
               class="col-form-label">
            @Component.Label
        </label>
        <input id="@Component.Id"
               type="url"
               class="form-control" 
               placeholder="http://"/>
    </div>
</form>

@code {

}
