@inherits WidgetComponentBase

<form>
    <div class="form-group input-number-hover">
        <label for="@Component.Id"
               class="col-form-label">
            @Component.Label
        </label>
        <input id="@Component.Id"
               type="number"
               class="form-control" />
    </div>
</form>


@code {

}
