@inherits WidgetComponentBase

<form>
    <div class="form-group">
        <label for="@Component.Id"
               class="col-form-label">
            @Component.Label
        </label>
        <input id="@Component.Id"
               type="text"
               class="form-control" />
    </div>
</form>

@*<div class="form-group">
        <label ng-if="!properties.labelHidden"
               style="text-align: right;" ng-class="{ 'control-label--required': properties.required }"
               class="control-label col-xs-{{ !properties.labelHidden ? properties.labelWidth : 12 }}">
            {{ properties.label }}
        </label>
        <div class="col-xs-{{ 12 - (!properties.labelHidden ? properties.labelWidth : 0) }}">
            <MatTextField @bind-Value="@myStringValue" Label="Standard" />
        </div>
    </div>*@

@code {

}