.container-space {
    border: 2px solid #eeeeee;
    margin: 0 1em;
    margin-top: 3px;
    border-radius: 4px;
    overflow-y: auto;
}

.container-wrapper {
    margin-top: 14px;
    padding: 0 0.2em;
    background-color: rgba(255, 255, 255, 0.2);
}

.container-element {
    display: block;
    border: 1px transparent solid;
    margin: .3em 0;
    padding: 1px;
}

.container-element {
    box-shadow: 1px 1px 4px #ccc;
}

.row-builder {
    position: relative;
}
.row.row-builder {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 2px;
    margin-top: 2px;
}

.widget-placeholder {
    margin: 0.3em 0;
    min-height: 2.5em;
}

    .widget-placeholder.widget-placeholder::before {
        content: attr(data-col);
        text-align: center;
        color: #cccccc;
        font-family: 'Helvetica';
        font-size: 18px;
        font-weight: 600;
        position: relative;
        position: absolute;
        border-radius: 5px;
        top: 0;
        bottom: 0;
        left: 15px;
        right: 15px;
        border: 2px dashed transparent;
        background-color: #eee;
        z-index: 0;
        line-height: 2em;
    }

.bo-dropzone-hover.widget-placeholder::before {
    background-color: #ddd;
    border-color: #999;
    color: #aaa;
    left: 15px;
    right: 15px;
}