@inherits PropertiesComponentBase

<form class="d-flex flex-column" novalidate>
    <DefaultPropertiesComp ComponentData="@ComponentData"
                           OnLabelChanged="@OnLabelChangedAsync"
                           OnWidthChanged="@OnWidthChangedAsync" />
</form>

@code {


}
