@page "/"

<div class="d-flex flex-column h-100 w-100">
    <MainToolbar />
    <div class="d-flex flex-row h-100">
        <FormDesigner ContainerData="@ContainerData" />
    </div>
</div>

@code {
    public ContainerDto ContainerData { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        await RunDemoPredefinedContainer();
    }

    private async Task RunDemoDatasource()
    {
        
    }

    private async Task RunDemoPredefinedContainer()
    {
        List<List<ComponentDto>> Rows = new List<List<ComponentDto>>()
        {
            new List<ComponentDto>()
            {
                new ComponentDto(ComponentType.SingleLine)
                {
                    Label = "Singel Line 1",
                    Width = 6
                },
                new ComponentDto(ComponentType.MultiLine)
                {
                    Label = "Multi Line 1",
                    Width = 6
                }
            },
            new List<ComponentDto>()
            {
                new ComponentDto(ComponentType.Number)
                {
                    Label = "Number 1",
                    Width = 12
                }
            }
        };
        ContainerData = new ContainerDto(Rows);
        await Task.CompletedTask;
    }

}